@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text1: 0 0 0;
  --color-text2: 255 255 255;
  --color-themeColor1: 255 255 255;
  --color-themeColor2: 255 255 255;
  --color-themeColor3: 255 165 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text1: 255 255 255;
    --color-text2: 0 0 0;
    --color-themeColor1: 0 0 0;
    --color-themeColor2: 27 27 27;
    --color-themeColor3: 255 165 0;
  }
}
